@font-face {
  font-family: silkserif;
  src: url(./icon/silkserif-lightitalic-webfont.ttf);
}

/* Basic Code */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Alef";
  color: white;
}

html.body {
  height: 100%;
  width: 100%;
}

#main {
  position: relative;
  background-color: #111;
  overflow-x: hidden;
}

/* cursor */
.crsr {
  height: 2.3vw;
  width: 2.3vw;
  border: 2px solid rgb(27, 174, 228);
  border-radius: 50%;
  position: fixed;
  z-index: 9999;
  transform: translate(-50%, -50%);
  mix-blend-mode: difference;
}

/* loader */

.line {
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  line-height: 8vw;
}

#line1-part1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

.line h2 {
  font-size: 6vw;
  text-transform: uppercase;
  font-style: italic;
  font-weight: 400;
  animation: anime1;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes anime1 {
  0% {
    font-family: "Alef";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 900;
    opacity: 1;
  }

  47% {
    font-family: "Alef";
    -webkit-text-stroke: 1px #fff;
    color: #fff;
    font-weight: 900;
    opacity: 0;
  }

  50% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 900;
    opacity: 1;
  }

  100% {
    font-family: "silk serif";
    -webkit-text-stroke: 1px #fff;
    color: transparent;
    font-weight: 900;
    opacity: 0;
  }
}

#line1-part1 h5,
#line1-part1 h6 {
  font-size: 5vw;
  font-weight: 100;
  font-family: "silkserif";
}

#line1-part1 h6 {
  padding-right: 2vw;
}

#line1-part1 h5 {
  width: 5vw;
  text-align: right;
}

.line h1 {
  font-size: 7vw;
  text-transform: uppercase;
  font-weight: 700;
  padding-right: 2vw;
}

#loader {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
  background-color: #0b0b0b;
  padding: 20vh 8vw;
}

/* Page1 Code start */

#page1 {
  height: 100vh;
  width: 100%;
  background-color: #151515;
}

#page1 {
  background-color: rgb(27, 26, 26);
}

/* page1 navbar Code */

#page1 #nav {
  display: flex;
  padding: 3vw 5vw;
  justify-content: space-between;
  align-items: center;
}

#nav-part2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3vw;
}

/* page1 hero */
.hero {
  width: 72%;
  margin-left: 27%;
  overflow: hidden;
}

.hero:nth-child(2) {
  margin-top: 15vh;
}

.hero h1 {
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
}

#hero3 h2 {
  font-size: 7vw;
  text-transform: uppercase;
  line-height: 7vw;
  border-bottom: 0.6vw solid white;
  transition: all ease 0.7s;
}

#hero3 {
  display: flex;
}

#hero3 h2:hover {
  -webkit-text-stroke: 0.4px #fff;
  color: transparent;
  font-weight: 100;
  border-bottom: 0.5vw solid #ffffff00;
}

/* page2 code start */
#page2 {
  height: 100vh;
  width: 100%;
  background-color: rgb(27, 26, 26);
}

#video-container {
  height: 80vh;
  width: 72vw;
  position: relative;
  left: 27%;
}

#video-container video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* page3 code start */

/* page4 code start */
#page4 {
  min-height: 100vh;
  position: relative;
  width: 100%;
  padding: 7vh 0;
  background-color: rgb(27, 26, 26);
}

#page4-content {
  width: 72vw;
  position: relative;
  margin-left: 28%;
}

#page4-content h1 {
  font-size: 7vw;
  text-transform: uppercase;
  position: relative;
}

#page4-content h1::before {
  content: "03";
  position: absolute;
  font-size: 3vw;
  font-weight: 100;
  font-family: "silkserif";
  left: -12%;
  top: 8%;
}

#page4-content .underline {
  height: 1px;
  width: 100%;
  background-color: #fff;
  margin: 5vw 0;
}

#page4-content > p {
  font-size: 2.05vw;
  width: 50%;
  margin-bottom: 3vw;
}

#page4-flex {
  display: flex;
}

#page4-flex img {
  width: 48%;
}

#page4-flex p {
  font-size: 0.9vw;
  width: 19%;
  margin-left: 1vw;
}

/* page4 blue div */
#page4-blue-div {
  background-color: #3f7df4;
  width: 30vw;
  padding: 3.2vw;
  position: relative;
  margin-top: -33vh;
  margin-left: 25vw;
}

.blue-div-elem {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 1.7vw 0;
  border-bottom: 2px solid #ffffff94;
}

.blue-div-elem h4 {
  font-size: 1.6vw;
  font-weight: 500;
}

.blue-div-elem p {
  width: 40%;
  font-size: 0.8vw;
  font-weight: 500;
}

#page4-content .underline:nth-last-child(1) {
  margin: 6vw 0 7vw 0;
}
.pg p{
  font-family: silkserif;
}


/* page5 code start */
#page5 {
  min-height: 100vh;
  width: 100%;
  position: relative;
  background-color: rgb(27, 26, 26);
}

.elem {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -2vw;
}

.elem h1 {
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  text-transform: uppercase;
  color: transparent;
  display: inline-block;
  margin-right: 16px;
  animation-name: anime;
  animation-duration: 20s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@-webkit-keyframes anime {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 20px));
  }
}

@keyframes anime {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(calc(-100% - 20px));
  }
}

.elem2 {
  white-space: nowrap;
  overflow-x: hidden;
  margin-bottom: -2vw;
}

.elem2 h1 {
  font-size: 7vw;
  -webkit-text-stroke: 1px #fff;
  font-weight: 400;
  text-transform: uppercase;
  color: transparent;
  display: inline-block;
  transform: translateX(calc(-100% - 20px));
  animation-name: anime;
  animation-duration: 25s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: reverse;
}

.elem span {
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
}

.elem2 span {
  font-style: italic;
  font-family: "silk serif";
  color: transparent;
}
